peewee==3.17.0
Flask==2.2.5
flask-restful==0.3.10
psycopg2==2.9.9
beautifulsoup4==4.12.2
tldextract==5.0.1
urllib3==1.26.7
requests[socks]==2.31.0
celery==5.3.4
redis==5.0.1
PySocks==1.7.1
pytz==2023.3
flower==2.0.1
python-dateutil==2.8.2
IPy==1.1
validators==0.22.0
elasticsearch[async]==8.10.1